@keyframes spinScaleFadeIn {
  from {
    transform: rotate(-180deg) scale(0);
    opacity: 0.75;
  }
  to {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

.startup {
  animation: spinScaleFadeIn 0.2s ease-out forwards;
}
