.sun,
.moon {
  position: absolute;
  inset: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transform-origin: center;
}

.sun {
  transform: rotate(-180deg) scale(0);
  opacity: 0;
}

.moon {
  transform: rotate(180deg) scale(0);
  opacity: 0;
}

[data-theme="light"] .sun {
  transform: rotate(0) scale(1);
  opacity: 1;
}

[data-theme="dark"] .moon {
  transform: rotate(0) scale(1);
  opacity: 1;
}
