.navigation > li {
  width: 10rem;
  text-align: center;
}

.borderAdjust {
  --reflect-angle: 75deg;

  --reflect-min: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 30%, var(--color-highlight)) 33%,
    transparent
  );
  --reflect-max: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 5%, var(--color-highlight)) 33%,
    transparent
  );
}

.borderAdjust::before {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.news {
  --reflect-angle: 75deg;

  --reflect-min: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 20%, var(--color-highlight)) 75%,
    transparent
  );
  --reflect-max: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 5%, var(--color-highlight)) 80%,
    transparent
  );
}

.toggle {
  transition-property: translate, rotate, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.submenuBorderAdjust {
  --reflect-angle: 75deg;

  --reflect-min: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 30%, var(--color-highlight)) 33%,
    transparent
  );
  --reflect-max: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 5%, var(--color-highlight)) 33%,
    transparent
  );
}
