@import "tailwindcss";

:root {
  --font-size: 16px;
  --page-background: radial-gradient(
    circle farthest-corner at 50% 100%,
    oklch(0.888 0 0) 0%,
    oklch(1 0.0054 95.1) 100%
  );

  --color-primary: oklch(0.205 0 0);
  --color-contrast: oklch(0.975 0 0);
  --color-accent: oklch(0.79 0.1173 85.94);
  --color-intense: oklch(0.58 0.1175 85.94);
  --color-dark: oklch(0.43 0.087 85.94);
  --color-pastel: oklch(0.99 0.0189 93.66);
  --color-highlight: oklch(0.99 0.0189 93.66);
  /* pastel and highlight have no difference in light mode. However highlight will remain bright in dark mode, while pastel gets to be very dark. */
  /* that is, highlight is intended to be used for glowing elements or text under negative backgrounds. in these cases they should remain bright no matter what. */
}

:where([data-theme="dark"], [data-theme="dark"] *) {
  --page-background: radial-gradient(
    circle farthest-corner at 50% 100%,
    oklch(0.305 0 0) 0%,
    oklch(0.235 0 0) 100%
  );

  --color-primary: oklch(0.97 0 0);
  --color-contrast: oklch(0.285 0 0);
  --color-accent: oklch(0.59 0.0976 85.94);
  --color-intense: oklch(0.64 0.0996 85.94);
  --color-dark: oklch(0.75 0.1088 85.94);
  --color-pastel: oklch(0.38 0.0272 85.94);
  --color-highlight: oklch(0.91 0.0556 91.34);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --font-main: var(--font-main);
  --font-logo: var(--font-logo);

  --color-primary: var(--color-primary);
  --color-contrast: var(--color-contrast);
  --color-accent: var(--color-accent);
  --color-intense: var(--color-intense);
  --color-dark: var(--color-dark);
  --color-pastel: var(--color-pastel);
  --color-highlight: var(--color-highlight);
}

@layer components {
  .border-reflect {
    position: relative;
    --reflect-min: color-mix(
      in oklab,
      color-mix(in oklab, var(--color-accent) 75%, var(--color-highlight)) 60%,
      transparent
    );
    --reflect-max: color-mix(
      in oklab,
      color-mix(in oklab, var(--color-accent) 5%, var(--color-highlight)) 80%,
      transparent
    );
    --reflect-opacity: 1;
    --reflect-start: 1;
    --reflect-size: 1px;
    --reflect-angle: 180deg;
  }

  .border-reflect::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: var(--reflect-size, 2px);
    background: linear-gradient(
        var(--reflect-angle, 180deg),
        var(--reflect-min) 0%,
        var(--reflect-max) 40%,
        var(--reflect-max) 60%,
        var(--reflect-min) 100%
      ),
      linear-gradient(15deg, var(--reflect-min) 50%, var(--reflect-max));
    mask: linear-gradient(rgba(0, 0, 0, var(--reflect-start)), #000) content-box,
      linear-gradient(rgba(0, 0, 0, var(--reflect-start)), #000);
    mask-composite: exclude;
    opacity: var(--reflect-opacity, 1);
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
