.bigBox {
  height: max(32rem, calc(100svh - 4.75rem - 1.25rem));
  width: 100%;
}

.mobileGrid {
  grid-template-columns: 1fr 3rem;
  grid-template-rows: 1fr 12rem;
  gap: 0.5rem;
}

.mobileGrid > :first-child {
  grid-column: span 2;
}

@media (width >= 48rem) {
  .mobileGrid {
    gap: 0;
  }
}

.bgContainer {
  background-color: color-mix(
    in oklab,
    var(--color-pastel) 72%,
    var(--color-accent)
  );
}

.bg {
  background-color: color-mix(
    in oklab,
    var(--color-contrast) 30%,
    var(--color-pastel)
  );
}

.borderAdjust {
  --reflect-angle: 75deg;

  --reflect-min: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-contrast) 65%, var(--color-highlight)) 48%,
    transparent
  );
  --reflect-max: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-contrast) 5%, var(--color-highlight)) 48%,
    transparent
  );
}

.borderContainer {
  --reflect-angle: 50deg;

  --reflect-min: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 50%, var(--color-highlight)) 66%,
    transparent
  );
  --reflect-max: color-mix(
    in oklab,
    color-mix(in oklab, var(--color-accent) 10%, var(--color-highlight)) 66%,
    transparent
  );
}

.buttonContainer > button {
  width: 2rem;
  height: 2rem;
}
